<a href="https://colab.research.google.com/github/qolbudr/caption-prediction/blob/main/Caption_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

data = pd.read_csv('1.csv');
data.drop(columns=' hashtag', axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3810 entries, 0 to 3809
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   caption  3810 non-null   object
dtypes: object(1)
memory usage: 29.9+ KB

In [ ]:
from sklearn.cluster import KMeans

tf_idf_vectorizor = TfidfVectorizer(norm='l1', lowercase=True, max_features = 20000)
vec = tf_idf_vectorizor.fit(data['caption'])
vectorized = vec.transform(data['caption'])

# print(tf_idf)

km = KMeans(n_clusters=20).fit(vectorized)
print(km.cluster_centers_)

[[0.00103235 0.00068941 0.00015601 ... 0.00059293 0.00027194 0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.00015246]]

In [ ]:
data["kluster"] = km.labels_
data

#data.to_csv('data.csv')

                                                caption  kluster
0     Kata siapa warna pink cuma bisa dipakai buat c...        0
1     Colour up your day with Erigo New Short Shirt ...        3
2     New Short Shirt Series is out now!!Yuk tampil ...        4
3     Waktunya belanja untuk outfit Lebaran nanti‚ú®Bt...        0
4     Siap-siap pasang alarm kalianüî•New Short Shirt ...        0
...                                                 ...      ...
3805  Hari ke dua puasa udah kerasa berat? Eits haru...       19
3806  Ramadhan dimulaaaai!!Ada produk baru isai nih ...       19
3807  Hype!!!Produk „ÄéNandemonaiya„Äèini langsung trend...       19
3808  „Äò„ÅÜ„Çå„Åó„Åè„Å¶„Å™„Åè„ÅÆ„ÅØ „Åã„Å™„Åó„Åè„Å¶„Çè„Çâ„ÅÜ„ÅÆ„ÅØ „Åç„Åø„ÅÆ„Åì„Åì„Çç„Åå„Åç„Åø„Çí „Åä„ÅÑ„Åì„Åó„Åü„Çì„Å†„Çà„Äô"Ure...       19
3809  Pernah gak nangis terharu ketika senang? Atau ...       19

[3810 rows x 2 columns]

In [ ]:
import pickle
pickle.dump(km, open("save.pkl", "wb"))

In [ ]:
prediction = km.predict(vec.transform(['Kaos typography']))
print(prediction)

[18]